@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Arial';
}

body {
  background-color: rgb(42, 141, 255, .1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.container {
  background-color: #ffff;
  width: 400px;
  height: fit-content;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(175, 175, 175, 0.2);
}

.title {
  color: rgb(42, 141, 255);
  margin-bottom: 10px;
}

form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: inset 0 0 5px rgb(0, 0, 0, .1);
  outline: none;
  transition: .2s;
}

input:focus {
  background-color: rgb(196, 196, 196, .2);
}

#add-bookmark-btn {
  background-color: rgb(42, 141, 255);
  margin-bottom: 15px;
}

#add-bookmark-btn:hover {
  background-color: rgb(16, 127, 255);
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bookmark {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(196, 196, 196, .2);
}

.bookmark a {
  text-decoration: none;
}

.bookmark-title {
  font-weight: 500;
  color: rgb(42, 141, 255);
}

.remove-btn {
  background-color: rgb(255, 72, 72);
  padding: 5px 15px;
  cursor: pointer;
  transition: .2s;
}

.remove-btn:hover {
  background-color: rgb(202, 0, 0);
}